<!-- <button mat-raised-button color="primary" (click)="addItemToLayout()" style="height: 38px; margin-bottom: 4px;">add new container</button> -->

<div class="grid-container">
  <ktd-grid
    [cols]="cols"
    [rowHeight]="rowHeight"
    [layout]="layout"
    [scrollableParent]="document"
    [compactType]="compactType"
    (layoutUpdated)="onLayoutUpdated($event)"
  >
    <ktd-grid-item
      *ngFor="let item of layout; let i = index; trackBy:trackById"
      [id]="item.id"
      class="ktd-item-container"
    >
      <div class="item-container">
        <div class="chart-wrapper" [id]="'chartdiv-' + item.id">
          <!-- chart {{ item.id }} -->
          <!-- {{ setupCharts(item.id) }} -->
        </div>
      </div>
      <div ktdGridResizeHandle class="resize-handle"></div>
    </ktd-grid-item>
  </ktd-grid>
</div>

